@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.cio-checkout-root {
  --cio-checkout-font-family: 'Inter', sans-serif;

  font-family: var(--cio-checkout-font-family);
  font-size: 16px;
}
